.contact-section{
    background-color: #FBD062!important;
}
.contact-heading{
    font-weight: 600;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.396px;
    color: #2D2D2D;
}
.contact-description{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.396px;
    color: rgba(0, 0, 0, 0.7);
}